@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #1B77F3;
    --cor2: #64A3F4;
    --cor3: #0D9DDB;
    --cor4: #2d2d2d;
    --cor5: #CF3C3f;

    --FontePadrão: Arial, Verdana, Helvetica, sans-serif;
    --Fonte: "lexend deca", sans-serif;
}

body {
    background-color: var(--cor2);
    font-family: var(--Fonte);
}

a.externo::after {
    content:"\00A0\1F517";

}

main p {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 2em;
}

main strong {
    color: var(--cor1);
}

main a {
    text-decoration: none;
    color: var(--cor5);
}

main a:hover {
    text-decoration: underline;
}

main h1 {
    color: var(--cor1);
}

 main h2{
    color: var(--cor3);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    padding: 10px;
    padding-top: 10%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
}

main img .pq {
    max-width: 350px;
    display: block;
    margin: auto;
}

main img {
    border-radius: 10px;
    margin: auto;
    display: block;
}

div .video {
    background-color: var(--cor1);
    border-radius: 20px;
    margin: auto;
    width: 100%;
    padding: 5px;
    position: relative;
}

div .video > iframe {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 10%;
    left: 50%;
    border-radius: 20px;

}

aside {
    background-color: var(--cor4);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    color: white;
    padding: 10px;
}

aside h3 {
    background-color: var(--cor1);
    text-align: center;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside ul {
    list-style-position: inside;
    columns: 2;
}

aside abbr {
    text-decoration: none;
}

aside strong {
    color: var(--cor3);
}

footer {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

footer strong:hover {
    text-decoration: underline;
}