@charset "UTF-8";
body {
    background-image: linear-gradient(to left, #A10FFD, #560EE3, #2A1BFA);
}
* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    text-align:center;
    color:#560EE3;
}
p {
    text-align: center;
    color:#560EE3;
}
main {
    background-color:white;
    width:600px;
    border-radius:10px;
    padding:10px;
    margin:auto;
    text-align: center;
}
main#pag-01 {
    background-color:white;
    width:700px;
    border-radius:10px;
    padding:10px;
    margin:auto;
    text-align: center;
}

img {
    display:block;
    margin:auto;
}